<a href="https://colab.research.google.com/github/AsifAziz850/AsifAziz/blob/main/Python_Basic_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello world!',end='\n');
print("""Welcome To Python Programming""");
print("""Have a nice day!""");

# Interpreter is computer program that translate source code into machine code line by line.
# Compiler is computer program that translate source code into machine code whole code at a same time.

"""
Non-Printed Characters.
Escape Sequence are special single character used with \ (slash) symbol.
\n      New line.
\t      tab
\'      print text with in single quotes text.
\"      print text with in double quotes text.
\b      backspace.
\\      print text with slash


Format Specifier or placeholder are special character used with (%) symbol.
%s      for displaying string data.
%d      for displaying integer data.
%f      for displaying floating data.
%o      for displaying octal data.
%X      for displaying data in hexa-decimal format.
Generic format specifier.
{}
{0} {1} {2} {3}
{0:f}
{0:.3f}
{0:.1f}
{0:d}
"""

name= "Asif Aziz";
age =30;
print("My Name is :%s"%name);
print("Your Age is :",age);
print("%d is your age "%(age))
print("%.3f is your age "%(age))
print("%X is your age "%(age))

In [8]:
# Good code is self-documented.
import keyword 
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
name = "Asif Aziz";
Name = "Ali Hyder";

print(name, end='');
print(Name,end='');

In [3]:
"""
Variable is container or placeholder that is used to store data in a computer memory.
1. Name
2. Value
3. Reference.

Rules for Variables:
$   Dollar sign
_   Underscoce
A-Z
a-z
0-9
"""
myName ="Asif Aziz"
print("The type of myName is :",type(myName))
print("The value of myName is :",myName);
print("The value of myName is :",id(myName))


# Types in Python.
isMarried= True;
print('The value of isMarried variable is :',isMarried);
isMarried= False;
print('The value of isMarried variable is :',isMarried);
print('The dataType of isMarried variable is :', type(isMarried));

age =20;
print('\n\nThe value of age variable is :',age);
print('The Type of age variable is :',type(age));

age =20.5;
print('\n\nThe value of age variable is :',age);
print('The Type of age variable is :',type(age));

name1 ="Asif";
name2 ='Aziz';
name3 ="""Asif Aziz""";
print('\n\nThe value of name1 variable is :',name1);
print('\n\nThe value of name2 variable is :',name2);
print('\n\nThe value of name3 variable is :',name3);
print('The Type of name1 variable is :',type(name1),"\t\tThe Type of name2 variable is :",type(name2),"\t\tThe Type of name2 variable is :",type(name3));


print('\n\n')
# Swapping Values.
x = 100
y = 200
print('The value of x is : ',x)
print('The value of y is : ',y)
x,y= y,x
print('\n\nThe value of x is :',x)
print('The value of y is :',y)

The type of myName is : <class 'str'>
The value of myName is : Asif Aziz
The value of myName is : 140116985237232



The value of x is :  100
The value of y is :  200


The value of x is : 200
The value of y is : 100

In [ ]:
#Type Conversion in Python.
var ="123456";
print(type(var))
var=int(var);
print(type(var))

var ="True";
print("\n\n",type(var));
var = bool(var);
print(type(var));


var =12345;
print("\n\n",type(var));
var = str(var);
print(type(var));

var =12345;
print("\n\n",type(var));
var = float(var);
print(type(var));
print("The value of var is :",var);

""" 
data ="Hello world";
data=int(data);
print(data) """

data =90.405;
new_value=int(data);
print("\n\nnThe value of ew_value is :",new_value)
print(type(new_value))
print("Address of variable is ",id(new_value));

In [4]:
name=input("Enter Your Name :")
print("Your Name is :",name)
print("Type of Name is :",type(name))

Enter Your Name :Asif Aziz
Your Name is : Asif Aziz
Type of Name is : <class 'str'>

In [ ]:
v1=input("Enter Your First Number :")
v2=input("Enter Your Second Number :")
print("Addition of v1+v2 :",v1+v2);
print("Type of v1 is :",type(v1), "Type of v2 is :",type(v2))

In [ ]:
"""
Arithmetic Operators:
1. Addition +
2. Substraction -
3. Multiplication *
4. Division /
5. Reminder %

6. Floor Division //
7. Exponents **

1 Concatenate +
2. Repitation *
"""

v1= "1000"
v2= "2000"

print("Type of v1 is :",type(v1),"\tType of v2 is :",type(v2))


v1=int(v1)
v2=int(v2)
print("Type of v1 is :",type(v1),"\tType of v2 is :",type(v2))

print("Addition of v1+v2 is :",v1+v2);
print("Substraction of v1-v2 is :",v1-v2);
print("Multiplication of v1*v2 is :",v1*v2);
print("Division of v1/v2 is :",v1/v2);
print("Reminder of v1%v2 is :",v1%v2);

print("Addition of v1+v2 is :",5**2);

class1 ="Data Science" 
print("Repitition is :",class1*5);

In [ ]:

"""
Unary Operator : if operator is applicable with single operand is called unary or negation operator.
Binary Operator: if operator is applicable two or more than two operand is called Binary operator.

"""

# Arithmetic Operators.   +, -, *, /, //,  %, **,     Numeric + Numeric =Addition Numeric, Numeric+string= Error, string+string=concatenate.
# Assignemnt Operators. = ,+=, -=, *=, /=, //=, %=
# 2.1 Arithmetic Assignment Operators.
# Relational Operators or Comparsion Operators.
# Logical Operators.
# Bitwise Logical Operators.
# Increment and Decrement Operators.
#Other operator (Ternary operator).
# Bitwise logical operators. & | ~ << >>
# Idenity Operators : Is and is not
# membership operator : in and not in.

val1=100;
val2=150;

print('The value of val1 is :',val1,'The type of val1 is :',type(val1));
print('The value of val1 is :',val1,'The type of val1 is :',type(val1));
print("Addition of val1+val2 is :",val1+val2);
print("Substraction of val1-val2 is :",val1-val2);
print("Multiplication of val1*val2 is :",val1*val2);
print("Division of val1/val2 is :",val1/val2);
print("Floor Division of val1//val2 is :",val1//val2);
print("Reminder of val1%val2 is :",val1%val2);
print("Exponents of val1**val2 is :",val1**val2);

In [ ]:
val1=100;
val2=150;

print('The value of val1 is :',val1,'The type of val1 is :',type(val1));
print('The value of val1 is :',val1,'The type of val1 is :',type(val1));
val1+=val2;
print("Addition of val1+val2 is :",val1);
val1-=val2;
print("Substraction of val1-val2 is :",val1);
val1*=val2;
print("Multiplication of val1*val2 is :",val1);
val1/=val2;
print("Division of val1/val2 is :",val1);
val1//=val2;
print("Floor Division of val1//val2 is :",val1);
val1%=val2;
print("Reminder of val1%val2 is :",val1);
val1**=val2;
print("Exponents of val1**val2 is :",val1);

In [ ]:
print(100 < 200);
print(100 > 200);
print(100 <= 200);
print(100 >= 200);
print(100 == 200);
print(100 != 200);

In [ ]:
# Class Work: Read two inputs of integers and calculate it.
a=int(input("Enter first Number :"));
b=int(input("Enter Second Number :"));

print("Addition of a+b is :",a+b);
print("Substraction of a+b is :",a-b);
print("Multiplication of a+b is :",a*b);
print("Division of a+b is :",a/b);
print("Reminder of a+b is :",a%b);

In [6]:
a=int(input("Enter first Number :"));
b=int(input("Enter Second Number :"));
max=a if a>b else b
print("The maximum value is :",max);

Enter first Number :500
Enter Second Number :200
The maximum value is : 500

In [10]:
#Poem
print("There once was a movie star icon.\nWho preferred to sleep with the light on.\nThey learned how to code.\nA device that sure glowed.\nAnd lit up the night using Python!")

There once was a movie star icon.
Who preferred to sleep with the light on.
They learned how to code.
A device that sure glowed.
And lit up the night using Python!

In [ ]:
# String in python
myName = 'Asif Aziz Jatoi';
firstName = "Asif Aziz";
lastName = """Asif Jatoi""";

print("The value of myName is : ",myName, "Length of myName is :", len(myName));
print("The value of firstName is : ",myName, "Length of firstName is :", len(firstName));
print("The value of lastName is : ",myName, "Length of lastName is :", len(lastName));
# String Slicing.
print("\n\nStart from 0 Position upto 4 character :",myName[:4]);
print("\n\nStart from Ending -1 Position upto -5 character :",myName[-5:]);

print("Start from 0 Position upto 4 position :",myName[0:4])
print("Start from 4 Position upto 9 position :",myName[5:9])
print("Start from End Position upto 4 character :",myName[-5:-1]);

print("Convert Text into Capitalize Case Character : ",myName.capitalize());
print("Convert Text into Title Case Character : ",myName.title());
print("Convert Text into Upper Case Character : ",myName.upper());
print("Convert Text into Lower Case Character : ",myName.lower());
print("Convert Text Upper case to lower case and Vice Versa : ",myName.swapcase());

print("Finding text from string : ",myName.find("Jatoi"));
print("Finding text from string : ",myName.find("----"));

print("Finding text from string : ",myName.replace("Jatoi","jatoi"));

print("Concatenate is : "+ myName + " Good Morning")  # Concatenate.
print("Repitation is :"+ myName * 3)  # Repitation the String.

print("Combine string and int "+myName +str(1000));

print(myName[0::])

print(myName[::-1]);

print("Get Complete String :",myName[::]);


print("\"Escape Sequence\"");
print("\'Escape Sequence\'");
print("\\Escape Sequence\\");
print("\nEscape\nSequence\\");
print("\tEscape\tSequence");


# MemberShip operator:
print("Asif" in myName);    #True
print("jatoi" in myName);   #False

print("Asif" not in myName); #False
print("jatoi" not in myName); #True.

In [ ]:
isMarried = True;
print("the value of isMarried is :", isMarried);
print("the value of isMarried is :", type(isMarried));
isMarried= False;
print("the value of isMarried is :", isMarried);
print("the value of isMarried is :", type(isMarried));

number = 10000;
print("\n\nthe value of number is :", number);
print("the value of number is :", type(number));

number = 1000.5000;
print("\n\nthe value of number is :", number);
print("the value of number is :", type(number));


str1 ="Hello world Welcome to python programming";
str2 ='Hello world Welcome to python programming';
str3 ="""Hello world Welcome to python programming""";

print("\n\nthe value of number is :", str1);
print("the value of number is :", type(str1));


str1 ="Hello world Welcome to python programming";
str2 ='Hello world Welcome to python programming';
str3 ="""Hello world Welcome to python programming""";

print("\n\nthe value of number is :", str1);
print("the value of number is :", type(str1));


lst = [200,"Asif","Aziz",90,68000.50,78,True,5457,False];
print("Value of List is : ",lst);
print("DataType of List is : ",type(lst));


lst = (200,"Asif","Aziz",90,68000.50,78,True,5457,False);
print("\n\nValue of Tuple is : ",lst);
print("DataType of Tuple is : ",type(lst));

#Excel 7 =15k-20K

lst = {200,"Asif","Aziz",90,68000.50,78,True,5457,False};
print("\n\nValue of set is : ",lst);
print("DataType of set is : ",type(lst));


lst = {"Asif":10001,"Symith":20050,"Jamil":90025,"Asad":989898,"Komail":47474,"Rehan":66300,"Saba":963630};
print("\n\nValue of Dictonaries is : ",lst);
print("DataType of Dictonary is : ",type(lst));


str =b"hello";
print("\n\n",type(str));
print("\n\n",str);

name ="Asif Aziz Jatoi.Asif Aziz Jatoi.";

print(name[::-1].replace("A","@",1)[::-1])

#print(name[ 5 : 10 ])
#print(name[ ::-1 ].replace("A","@",2)[::-1])

#print(name[ ::-1 ].replace("A","@",2)[::-1])

print(name[::])